OAuthWcfApp.WebFormClient/Connected Services/UserClient/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kerberoslaptop02:8089/oAuthService/Services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OAuthWcfApp.Models" />
  <xs:element name="GetAllUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OAuthWcfApp.Models" minOccurs="0" name="GetAllUserInfoResult" nillable="true" type="q1:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>